@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  padding: 15px 30px;
  background: #5CBE3A;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background: rgba(92, 190, 58, 0.3764705882);
}

.form {
  width: 450px;
  background: #fff;
  border-radius: 20px;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  position: relative;
}
.form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
}
.form .close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  top: 44px;
  z-index: 99;
}
.header__burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 300px;
     -moz-column-gap: 300px;
          column-gap: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__link {
  color: rgba(5, 17, 1, 0.3764705882);
  font-weight: 500;
}
.header__link.active {
  color: #051101;
}
.header__burger {
  width: 50px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background: #000;
  position: relative;
}
.header__burger span::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  top: -10px;
}
.header__burger span::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: -10px;
}

@media (max-width: 992px) {
  .header__burger-menu {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    -webkit-transition: 1s;
    transition: 1s;
    background: #fff;
    padding: 40px;
    width: 100%;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 0 30px;
  }
  .header__burger-menu.active {
    top: 30%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__burger.active span {
    height: 0;
  }
  .header__burger.active span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    width: 80%;
  }
  .header__burger.active span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .header__burger-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.begin {
  padding: 205px 0 77px;
  background: #EBFFE4;
  position: relative;
}
.begin__swiper {
  width: 60%;
}
.begin__swiper .swiper {
  width: 100%;
  height: 100%;
}
.begin__swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.begin__swiper .swiper-slideimg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.begin__swiper .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.begin__swiper .swiper-slide {
  background-size: cover;
  background-position: center;
}
.begin__swiper .mySwiper2 {
  height: 80%;
  width: 100%;
}
.begin__swiper .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}
.begin__swiper .mySwiper .swiper-slide {
  width: 115.206px !important;
  height: 115.206px !important;
  border-radius: 50% !important;
  border: 1px solid #bee761 !important;
}
.begin__swiper .mySwiper .swiper-slide-thumb-active {
  background: #b6e247;
}
.begin__swiper .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.begin__el {
  position: absolute;
  top: 0;
  right: 0;
}
.begin__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.begin__info {
  width: 40%;
}
.begin__suptitle {
  color: green;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.begin__title {
  color: #051101;
  font-size: 61px;
  font-weight: 700;
  margin: 15px 0 26px;
}
.begin__text {
  color: #051101;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 14px;
}
.begin__text span {
  color: green;
  font-weight: 700;
}
.begin__price {
  color: green;
  font-size: 31px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.begin__price-old {
  color: #87D16D;
  font-size: 22px;
  font-weight: 700;
  text-decoration: line-through;
}
.begin__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin: 37px 0 84px;
}
.begin__btn {
  border: 1px solid rgba(92, 190, 58, 0.3);
  background: transparent;
  color: green;
}
.begin__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 68px;
     -moz-column-gap: 68px;
          column-gap: 68px;
}
.begin__review {
  color: green;
  font-size: 85px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.begin__review span {
  color: #051101;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .begin__info {
    width: 50%;
  }
  .begin__swiper {
    width: 50%;
  }
  .begin__swiper .mySwiper {
    display: none;
  }
  .begin__swiper .mySwiper2 .swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .begin__el {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .begin__btns {
    margin: 37px 0;
  }
}
@media (max-width: 886px) {
  .begin {
    padding: 170px 0 77px;
  }
  .begin__el {
    display: none;
  }
  .begin__swiper {
    width: 40%;
  }
  .begin__info {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .begin__swiper {
    display: none;
  }
  .begin__info {
    width: 100%;
    text-align: center;
  }
  .begin__btns, .begin__reviews, .begin__price, .begin__suptitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 425px) {
  .begin__suptitle {
    font-size: 19px;
  }
  .begin__title {
    font-size: 58px;
  }
}
@media (max-width: 375px) {
  .begin__suptitle {
    font-size: 16px;
  }
  .begin__title {
    font-size: 48px;
  }
}
.latest {
  padding: 118px 0 136px;
}
.latest__title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
}
.latest__text {
  color: #051101;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
  margin: 25px 0 99px;
}
.latest__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.latest__card {
  width: calc(33.33333% - 20px);
  text-align: center;
}
.latest__card-block {
  position: relative;
}
.latest__card-block::before {
  content: url("../assets/latest-block.png");
  position: absolute;
  left: 0;
  bottom: -20px;
}
.latest__card-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 10px;
}
.latest__card-prices {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 20px;
}
.latest__card-img {
  width: 295px;
  height: 150px;
}

.view {
  padding-bottom: 130px;
}
.view__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.view__left {
  width: 60%;
  border-radius: 10px;
  background: #F6FFF3;
  padding: 143px 158px 182px 98px;
  position: relative;
}
.view__left::before {
  content: "view";
  color: #E5F2E1;
  font-size: 218.216px;
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(3%, -50%) rotate(-90deg);
          transform: translate(3%, -50%) rotate(-90deg);
  z-index: -1;
}
.view__title {
  color: #051101;
  font-size: 44px;
  font-weight: 700;
  line-height: 130%;
}
.view__text {
  color: #051101;
  line-height: 130%;
  font-weight: 400;
  margin-top: 23px;
}
.view__right {
  width: 50%;
  height: 433px;
  border-radius: 10px;
  background: url("../assets/view.png") center/cover;
  position: relative;
  left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.view__play {
  width: 91px;
  height: 91px;
  background: #81d066;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best {
  padding-bottom: 145px;
}
.best__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.best__left {
  width: 55%;
  height: 568.779px;
  background: url("../assets/best.png") center/cover;
  border-radius: 10px;
  position: relative;
}
.best__left::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 20px solid #E5F2E1;
  position: absolute;
  top: -60px;
  left: -50px;
  z-index: -1;
}
.best__right {
  width: 45%;
  position: relative;
}
.best__right::before {
  content: url("../assets/best-icon.svg");
  position: absolute;
  z-index: -1;
  left: -100px;
}
.best__title {
  color: #051101;
  font-size: 44px;
  font-weight: 700;
  line-height: 130%; /* 57.2px */
}
.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  margin-top: 25px;
}
.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #051101;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.greatest {
  padding-bottom: 116px;
}
.greatest__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 77px;
     -moz-column-gap: 77px;
          column-gap: 77px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.greatest__pagination {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 35px;
}
.greatest__pagination-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.greatest__pagination-prev, .greatest__pagination-next {
  cursor: pointer;
}
.greatest__pagination-doted {
  text-align: center;
}
.greatest__pagination-doted .swiper-pagination-bullet {
  width: 24.649px;
  height: 24.649px;
  border-radius: 50%;
  background: #5CBE3A;
}
.greatest__block {
  width: 70%;
  position: relative;
}
.greatest__block::before {
  content: "";
  width: 326.134px;
  height: 562.4px;
  background: #F6FFF3;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}
.greatest__block::after {
  content: "2021";
  color: #E5F2E1;
  font-size: 261.487px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: -270px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  z-index: -2;
}
.greatest__block .swiper {
  width: 100%;
  height: 100%;
}
.greatest__block .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.greatest__block .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.greatest__info {
  width: 80%;
  background: #fff;
  -webkit-box-shadow: -8px 10px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: -8px 10px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 66px 113px 73px 79px;
  position: relative;
  text-align: left;
}
.greatest__title {
  color: #051101;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 34px;
}
.greatest__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1882352941);
  padding-bottom: 56px;
}
.greatest__user-name {
  color: #051101;
  font-size: 22px;
  font-weight: 600;
}
.greatest__user-desc {
  color: #051101;
  font-weight: 500;
  line-height: 150%;
  margin: 18px 0 24px;
}
.greatest__user-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  color: #051101;
  font-size: 22px;
  font-weight: 600;
}